/** @color White */
$color-white: #ffffff;

/** @color Black */
$color-black: #000000;

/** @color Mango */
$color-mango: #fab72e;

/** @color White Two */
$color-white-two: #eeeeee;

/** @color White Three */
$color-white-three: #f5f5f5;

/** @color Dark Grey */
$color-dark-grey: #333333;

/** @color Pale Grey */
$color-pale-grey: #dbdfe5;
