@font-face {
    font-family: 'AcuminPro';
    font-weight: 400;
    src: url('../fonts/AcuminPro-Regular.eot');
    src: url('../fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminPro-Regular.woff') format('woff'),
    url('../fonts/AcuminPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminPro';
    font-weight: 700;
    src: url('../fonts/AcuminPro-Bold.eot');
    src: url('../fonts/AcuminPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminPro-Bold.woff') format('woff'),
    url('../fonts/AcuminPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminProSemiCond';
    font-weight: 400;
    src: url('../fonts/AcuminProSemiCond-Regular.eot');
    src: url('../fonts/AcuminProSemiCond-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminProSemiCond-Regular.woff') format('woff'),
    url('../fonts/AcuminProSemiCond-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminProSemiCond';
    font-weight: 600;
    src: url('../fonts/AcuminProSemiCond-Semibold.eot');
    src: url('../fonts/AcuminProSemiCond-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminProSemiCond-Semibold.woff') format('woff'),
    url('../fonts/AcuminProSemiCond-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminProSemiCond';
    font-weight: 200;
    src: url('../fonts/AcuminProSemiCond-ExtraLight.eot');
    src: url('../fonts/AcuminProSemiCond-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminProSemiCond-ExtraLight.woff') format('woff'),
    url('../fonts/AcuminProSemiCond-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminProCond';
    font-weight: 400;
    src: url('../fonts/AcuminProCond-Regular.eot');
    src: url('../fonts/AcuminProCond-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminProCond-Regular.woff') format('woff'),
    url('../fonts/AcuminProCond-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AcuminProCond';
    font-weight: 700;
    src: url('../fonts/AcuminProCond-Bold.eot');
    src: url('../fonts/AcuminProCond-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AcuminProCond-Bold.woff') format('woff'),
    url('../fonts/AcuminProCond-Bold.ttf') format('truetype');
}

.SG-layout {
    -webkit-font-smoothing: antialiased;
}
